<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue YouTube Embed Example</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css">
</head>
<body>
  <div id="app" class="row column">
    <h1>Vue YouTube Embed</h1>
    <div>
      <h2>default value (#cueVideoById)</h2>
      <youtube :video-id="videoId"></youtube>
    </div>
    <div>
      <h2>playerVars: {autoplay: 1, start: 30} (#loadVideoById)</h2>
      <div class="row">
        <fieldset class="small-6 columns">
          <label for="width">Width</label>
          <input type="number" name="width" id="width" v-model="width">
        </fieldset>
        <fieldset class="small-6 columns">
          <label for="height">Height</label>
          <input type="number" name="height" id="height" v-model="height">
        </fieldset>
      </div>
      <youtube :video-id="videoId" :player-width="width" :player-height="height" :player-vars="{autoplay: 1, start: 30}"></youtube>
    </div>
    <div>
      <label for="nextId">add a video id or an URL of YouTube</label>
      <input id="nextId" type="text" v-model="nextId">
      <div class="button-group">
        <button class="button" @click="next">next video</button>
        <button class="button" @click="add">add video</button>
        <button class="button" @click="remove">remove video</button>
      </div>
    </div>
    <hr>
    <div><video-list v-for="video in videos" :video="video.videoId"></video-list></div>
    <hr>
  </div>
  <script src="../node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
  <script src="../lib/vue-youtube-embed.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
</body>
</html>
