{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "YT": true,
    "Vue": true,
    "VueYouTubeEmbed": true,
    "sinon": true
  },
  "parserOptions": {
    "classes": true,
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "never"],
    "no-console": 0
  }
}
